--- CLion / CMake ---

Ignore all build directories

cmake-build-debug/
cmake-build-release/

Ignore CMake user files

.idea/
CMakeUser*.txt

logs/

--- macOS ---

.DS_Store50000000_hyperplanes_3d.bin
